[submodule "docs/funding/proposals/2024-05-17-open-tech-fund-proposal"]
	path = docs/funding/proposals/2024-05-17-open-tech-fund-proposal
	url = https://github.com/jonmatthis/2024-05-17-open-tech-fund-proposal
